@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

body {
  background-color: white;
  background-image: url('./img/game-background-3.jpg');
  font-family: 'Knewave';
  color: white;
  text-shadow: 1px 1px 4px cornflowerblue;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  width: 100%;
  background-color: rgba(11, 18, 107, 0.5);
  margin: 0;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 4px cornflowerblue;
}

p {
  padding: 10px 15px;
  margin: 0;
}

h1 {
  font-size: 60px;
  margin-left: 50px;
}

main {
  display: flex;
  flex-direction: row;
}

input {
  margin-bottom: 15px;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: rgba(11, 18, 107, 0.5);
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 4px cornflowerblue;
}

input::placeholder {
  color: white;
  text-shadow: 1px 1px 4px cornflowerblue;
  padding-left: 10px;
}

.recent-scores,
.add-scores {
  width: 50%;
  height: 60vh;
  margin: 40px;
}

.title-container {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1px 15px;
}

.add-title {
  margin-left: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 80%;
  padding: 10px;
}

.submit-button {
  width: 20%;
  margin-left: auto;
  margin-top: 15px;
  color: aliceblue;
  font-weight: bolder;
  background-color: cornflowerblue;
  border: none;
  padding: 10px;
  border-radius: 15px;
}

.submit-button:hover {
  background-color: rgb(98, 163, 201);
  transition: 0.5s;
}

.list {
  border: 1px solid black;
  overflow-y: scroll;
  height: 50vh;
}

.refresh-button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
}

.refreshimg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
